<section
    id="MainContent"
{#    class="relative bg-[url(/assets/images/webp/banner.webp)] bg-cover bg-center bg-no-repeat"#}
    class="relative bg-[url(https://karol-cdn.fra1.digitaloceanspaces.com/images/webp/banner.webp)] bg-cover bg-center bg-no-repeat"
>
    <div class="absolute inset-0 bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25"></div>

    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
        <div class="max-w-xl text-center sm:text-left">
            <div class="flex flex-col">
{#                <img class="hidden h-18 w-auto lg:block" src="/assets/images/png/new-logo-no-background.png" height="20px" width="20px" alt="Your Company">#}

                <h1 class="text-3xl font-extrabold sm:text-5xl">
                    {#                JustCode#}

                    {#                <img class="block h-12 w-auto lg:hidden" src="/assets/images/png/new-logo-no-background.png" alt="Your Company">#}
                    {#                <a href="index.html" class="navbar-logo block w-full py-5">#}
                    {#                    <img src="https://justcode.com.pl/assets/images/logo/logo-white.svg" alt="logo" class="header-logo w-full">#}
                    {#                </a> #}
                    <strong class="block font-extrabold text-cyan-500">
                        Karol Abramczyk
                    </strong>
                </h1>
            </div>

            <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
                tenetur fuga ducimus numquam ea!
            </p>

            <div class="mt-8 flex flex-wrap gap-4 text-center">
                <a href="#" class="block w-full rounded bg-cyan-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-cyan-700 focus:outline-none focus:ring active:bg-cyan-500 sm:w-auto">
                    Sprawdź
                </a>

                <a
                    href="{{ path('app_contact') }}"
                    class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-cyan-600 shadow hover:text-cyan-700 focus:outline-none focus:ring active:text-cyan-500 sm:w-auto"
                >
                    Skontaktuj się
                </a>
            </div>
        </div>
    </div>
</section>
