{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <section>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />

        <section class="bg-gray-100">
            <div class="mx-auto max-w-[1340px] px-4 py-16 sm:px-6 sm:py-24 lg:mr-0 lg:pl-8 lg:pr-0">

                <div class="max-w-7xl items-end justify-between sm:flex sm:pr-6 lg:pr-8">
                    <h2 class="max-w-xl text-4xl font-bold tracking-tight sm:text-5xl">
                        Wykorzystywane technologie
                    </h2>

                    <div class="mt-8 flex lg:mt-0">
                        <button class="prev-button rounded-full border border-current p-3 text-cyan-600 transition-colors focus:bg-cyan-600 focus:text-white focus:outline-none">
                            <span class="sr-only">Previous Slide</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-5 w-5 -rotate-180 transform"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 5l7 7-7 7"
                                />
                            </svg>
                        </button>

                        <button class="next-button ml-3 rounded-full border border-current p-3 text-cyan-600 focus:bg-cyan-600 focus:text-white focus:outline-none" >
                            <span class="sr-only">Next Slide</span>
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 5l7 7-7 7"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="-mx-6 mt-8 lg:col-span-2 lg:mx-0">
                    <div class="swiper-container !overflow-hidden">
                        <div class="swiper-wrapper">
                            {% for technology in using_technologies %}

{#                                <div class="swiper-slide mx-auto max-w-5xl px-4 py-8">#}
{#                                    <section class="rounded-lg bg-white p-8">#}
{#                                        <div class="grid grid-cols-1 gap-12 sm:grid-cols-3">#}

{#                                            <blockquote class="sm:col-span-2">#}
{#                                                <p class="text-xl font-medium sm:text-2xl">#}
{#                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt#}
{#                                                    perspiciatis cumque neque ut nobis excepturi, quasi iure quisquam#}
{#                                                    autem alias.#}
{#                                                </p>#}

{#                                                <cite class="mt-8 inline-flex items-center not-italic">#}
{#                                                    <span class="hidden h-px w-6 bg-gray-400 sm:inline-block"></span>#}
{#                                                    <p class="text-sm uppercase text-gray-500 sm:ml-3">#}
{#                                                        <strong>Justin Harrison</strong>, Beatle Inc.#}
{#                                                    </p>#}
{#                                                </cite>#}
{#                                            </blockquote>#}
{#                                        </div>#}
{#                                    </section>#}
{#                                </div>#}

                                <div class="swiper-slide">
                                    <blockquote class="flex h-full flex-col justify-between bg-white p-12">
                                        <div>
                                            <div class="flex gap-0.5 text-red h-4">
                                            </div>

                                            <div class="mt-4">
                                                <h3 class="text-2xl font-bold text-cyan-200 sm:text-3xl">
                                                    {{ technology.name }}
                                                </h3>

                                                <p class="mt-4 text-lg text-gray-600">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                    Ipsam cumque recusandae dolorum porro, quasi sunt
                                                    necessitatibus dolorem ab laudantium vel.
                                                </p>
                                            </div>
                                        </div>
                                        <footer class="mt-8 text-gray-500">- Eddie Murphy</footer>
                                    </blockquote>
                                </div>

                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </section>


        <div class="mx-auto max-w-5xl px-4 py-8">
            <section class="rounded-lg bg-gray-100 p-8">
                <div class="grid grid-cols-1 gap-12 sm:grid-cols-3 sm:items-center">
                    <img
                            alt="Man"
                            src="https://images.unsplash.com/photo-1625019030820-e4ed970a6c95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            class="aspect-square w-full rounded-lg object-cover"
                    />

                    <blockquote class="sm:col-span-2">
                        <p class="text-xl font-medium sm:text-2xl">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                            perspiciatis cumque neque ut nobis excepturi, quasi iure quisquam
                            autem alias.
                        </p>

                        <cite class="mt-8 inline-flex items-center not-italic">
                            <span class="hidden h-px w-6 bg-gray-400 sm:inline-block"></span>
                            <p class="text-sm uppercase text-gray-500 sm:ml-3">
                                <strong>Justin Harrison</strong>, Beatle Inc.
                            </p>
                        </cite>
                    </blockquote>
                </div>
            </section>
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const swiper = new Swiper('.swiper-container', {
                    loop: true,
                    slidesPerView: 1,
                    spaceBetween: 32,
                    autoplay: {
                        delay: 8000,
                    },
                    navigation: {
                        nextEl: '.next-button',
                        prevEl: '.prev-button',
                    },
                    breakpoints: {
                        640: {
                            slidesPerView: 1.5,
                            centeredSlides: true,
                        },
                        1024: {
                            centeredSlides: false,
                            slidesPerView: 2.25,
                        },
                    },
                })
            })
        </script>
    </section>
{% endblock %}
