<nav class="bg-gray-800 sticky top-0 z-50">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button id="toggleMenu"type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg id="hamburger" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>

                    <svg id="closeButton" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">

                    <img class="block h-12 w-auto lg:hidden" src="/assets/images/png/new-logo-no-background.png" alt="Your Company" width="640px" height="360px">
                    <img class="hidden h-14 w-auto lg:block" src="/assets/images/png/new-logo-no-background.png" alt="Your Company" width="640px" height="360px">
                </div>


                <div class="hidden sm:ml-6 sm:block self-center justify-self-end">
                    <div class="flex space-x-4 ">
                        {% for navigation_element in navigation_elements %}
                            <a href="{{ path(navigation_element.route_name) }}" class="{% if navigation_element.is_active == '/' %}bg-gray-900 text-cyan-200{% else %} text-gray-300{% endif %} hover:text-cyan-200 px-3 py-2 rounded-md text-sm font-bold " aria-current="page">
                                {{ navigation_element.navigation_title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sm:hidden hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
            {% for navigation_element in navigation_elements %}
                <a href="{{ path(navigation_element.route_name) }}" class="{% if navigation_element.is_active == '/' %}bg-gray-900 text-cyan-200{% else %} text-gray-300{% endif %} text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>
            {% endfor %}
        </div>
    </div>
</nav>

<script>
    const menu = document.getElementById('toggleMenu');
    const mobileMenu = document.getElementById('mobile-menu');
    const hamburger = document.getElementById('hamburger');
    const closeButton = document.getElementById('closeButton');

    menu.addEventListener('click', () => {
        hamburger.classList.toggle('block');
        hamburger.classList.toggle('hidden');
        closeButton.classList.toggle('block');
        closeButton.classList.toggle('hidden');
        mobileMenu.classList.toggle('hidden');
    });

</script>