<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow, all">
        <meta name="googlebot" content="index, follow, all">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/assets/favicon.ico"> 
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#        {% block stylesheets %}#}
{#            {{ encore_entry_link_tags('app') }}#}
{#        {% endblock %}#}
{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#        {% endblock %}#}
{#        <script src="https://kit.fontawesome.com/e2642c8568.js" crossorigin="anonymous"></script>#}
{#        <script src="https://cdn.tailwindcss.com"></script>#}
{#        <script src="/assets/js/tailwind/main.js"></script> #}
{#        /assets/images/png/new-logo-no-background.png#}


        <link
                href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
                rel="stylesheet"
        />

        <link href="/assets/output.css" rel="stylesheet" >
    </head>
    <body>
        {% include 'partials/navbar.html.twig' %}
{#        {% include 'partials/banner.html.twig' %}#}
{#        {% include 'partials/content.html.twig' %}#}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}
    </body>
</html>
